<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Shop</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#orders"
        aria-expanded="false"
        aria-controls="orders"
      >
        <i class="icon-bag menu-icon"></i>
        <span class="menu-title">Orders Page</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="orders" >
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders-list">List Orders</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
              class="nav-link"
              data-toggle="collapse"
              href="#products"
              aria-expanded="false"
              aria-controls="products"
      >
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Products Page</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="products">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/products-add">Add Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/products-list">List Products</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#users"
        aria-expanded="false"
        aria-controls="users"
      >
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Account Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="users">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/users-add"> Add Account </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users-list"> List Accounts </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#error"
        aria-expanded="false"
        aria-controls="error"
      >
        <span class="menu-title">Developer</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="error">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/pharrealjun/">
              Tùng Phích
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://www.facebook.com/quangkien.bui.3/"
            >
              Kiên Bùi
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/thogawa/">
              Thọ Đăng
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../../pages/documentation/documentation.html">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav>
