<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" href="/src/public/css/style.css" />
    <!--===============================================================================================-->
  </head>
  <body class="animsition">
    <!-- Header -->
    <%- include('./header/productHeader') %>

    <!-- Sidebar -->
    <%- include('./sidebar/homeSidebar') %>

    <!-- Title page -->
    <section
      class="bg-img1 txt-center p-lr-15 p-tb-92"
      style="background-image: url('images/bg-01.jpg')"
    >
      <h2 class="ltext-105 cl0 txt-center">Contact</h2>
    </section>

    <!-- Content page -->
    <section class="sec-blog bg0 p-t-60 p-b-90">
      <div class="container">
        <div class="p-b-66">
          <h3 class="ltext-105 cl5 txt-center respon1">Developers</h3>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-4 p-b-40">
            <div class="blog-item">
              <div class="hov-img0">
                <a href="blog-detail.html">
                  <img src="images/avatar/kienpham.jpg" alt="IMG-BLOG" />
                </a>
              </div>

              <div class="p-t-15">
                <div class="stext-107 flex-w p-b-14">
                  <span class="m-r-3">
                    <span class="cl4"> Name : </span>

                    <span class="cl5"> Kiên Phạm </span>
                  </span>

                  <span>
                    <span class="cl4"> since </span>

                    <span class="cl5"> 29/06/1995 </span>
                  </span>
                </div>

                <h4 class="p-b-12">
                  <a
                    href="blog-detail.html"
                    class="mtext-101 cl2 hov-cl1 trans-04"
                  >
                    8 Inspiring Ways to Wear Dresses in the Winter
                  </a>
                </h4>

                <p class="stext-108 cl6">
                  Duis ut velit gravida nibh bibendum commodo. Suspendisse
                  pellentesque mattis augue id euismod. Interdum et male-suada
                  fames
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 p-b-40">
            <div class="blog-item">
              <div class="hov-img0">
                <a href="blog-detail.html">
                  <img src="images/avatar/tungphich.jpg" alt="IMG-BLOG" />
                </a>
              </div>

              <div class="p-t-15">
                <div class="stext-107 flex-w p-b-14">
                  <span class="m-r-3">
                    <span class="cl4"> Name : </span>

                    <span class="cl5"> Tùng Phích </span>
                  </span>

                  <span>
                    <span class="cl4"> since </span>

                    <span class="cl5"> 14/02/1998 </span>
                  </span>
                </div>

                <h4 class="p-b-12">
                  <a
                    href="blog-detail.html"
                    class="mtext-101 cl2 hov-cl1 trans-04"
                  >
                    The Great Big List of Men’s Gifts for the Holidays
                  </a>
                </h4>

                <p class="stext-108 cl6">
                  Nullam scelerisque, lacus sed consequat laoreet, dui enim
                  iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare
                  tellus, ac fringilla lacus. Ut sit ame
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 p-b-40">
            <div class="blog-item">
              <div class="hov-img0">
                <a href="blog-detail.html">
                  <img src="images/avatar/thodang.jpg" alt="IMG-BLOG" />
                </a>
              </div>

              <div class="p-t-15">
                <div class="stext-107 flex-w p-b-14">
                  <span class="m-r-3">
                    <span class="cl4"> Name : </span>

                    <span class="cl5"> Đăng Thọ </span>
                  </span>

                  <span>
                    <span class="cl4"> since </span>

                    <span class="cl5"> 22/10/1995 </span>
                  </span>
                </div>

                <h4 class="p-b-12">
                  <a
                    href="blog-detail.html"
                    class="mtext-101 cl2 hov-cl1 trans-04"
                  >
                    5 Winter-to-Spring Fashion Trends to Try Now
                  </a>
                </h4>

                <p class="stext-108 cl6">
                  Proin nec vehicula lorem, a efficitur ex. Nam vehicula nulla
                  vel erat tincidunt, sed hendrerit ligula porttitor. Fusce sit
                  amet maximus nunc
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Map -->
    <div class="map">
      <div
        class="size-303"
        id="google_map"
        data-map-x="40.691446"
        data-map-y="-73.886787"
        data-pin="images/icons/pin.png"
        data-scrollwhell="0"
        data-draggable="1"
        data-zoom="11"
      ></div>
    </div>

    <!-- Footer -->
    <%- include('./footer/productFooter') %>

    <!-- Back to top -->
    <%- include('./include/backtotop') %>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
    <script src="js/map-custom.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
  </body>
</html>
