<!doctype html>
<html lang="en" id="">
<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        div.formLogin *, *:before, *:after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        div.formLogin body {
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            background: #ededed;
        }
        div.formLogin input, button {
            border: none;
            outline: none;
            background: none;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        }
        div.formLogin .tip {
            font-size: 20px;
            margin: 40px auto 50px;
            text-align: center;
        }
        div.formLogin .cont {
            overflow: hidden;
            position: relative;
            width: 900px;
            height: 550px;
            margin: 0 auto 100px;
            background: #fff;
        }
        div.formLogin .form {
            position: relative;
            width: 640px;
            height: 100%;
            transition: transform 1.2s ease-in-out;
            padding: 50px 30px 0;
        }
        div.formLogin .sub-cont {
            overflow: hidden;
            position: absolute;
            left: 640px;
            top: 0;
            width: 900px;
            height: 100%;
            padding-left: 260px;
            background: #fff;
            transition: transform 1.2s ease-in-out;
        }
        div.formLogin .cont.s--signup .sub-cont {
            transform: translate3d(-640px, 0, 0);
        }
        div.formLogin button {
            display: block;
            margin: 0 auto;
            width: 260px;
            height: 36px;
            border-radius: 30px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }
        div.formLogin .img {
            overflow: hidden;
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 260px;
            height: 100%;
            padding-top: 360px;
        }
        div.formLogin .img:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 900px;
            height: 100%;
            background-image: url('https://www.harrods.com/BWStaticContent/50000/37f9b12e-9863-4542-a642-9e97e0daf1b7_d-hero-brand-t2-loro-piana-mens.jpg');
            background-size: cover;
            transition: transform 1.2s ease-in-out;
        }
        div.formLogin .img:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
        }
        div.formLogin .cont.s--signup .img:before {
            transform: translate3d(640px, 0, 0);
        }
        div.formLogin .img__text {
            z-index: 2;
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            padding: 0 20px;
            text-align: center;
            color: #fff;
            transition: transform 1.2s ease-in-out;
        }
        div.formLogin .img__text h2 {
            margin-bottom: 10px;
            font-weight: normal;
        }
        div.formLogin .img__text p {
            font-size: 14px;
            line-height: 1.5;
        }
        div.formLogin .cont.s--signup .img__text.m--up {
            transform: translateX(520px);
        }
        div.formLogin .img__text.m--in {
            transform: translateX(-520px);
        }
        div.formLogin .cont.s--signup .img__text.m--in {
            transform: translateX(0);
        }
        div.formLogin .img__btn {
            overflow: hidden;
            z-index: 2;
            position: relative;
            width: 100px;
            height: 36px;
            margin: 0 auto;
            background: transparent;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            cursor: pointer;
        }
        div.formLogin .img__btn:after {
            content: '';
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 30px;
        }
        div.formLogin .img__btn span {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: transform 1.2s;
        }
        div.formLogin .img__btn span.m--in {
            transform: translateY(-72px);
        }
        div.formLogin .cont.s--signup .img__btn span.m--in {
            transform: translateY(0);
        }
        div.formLogin .cont.s--signup .img__btn span.m--up {
            transform: translateY(72px);
        }
        div.formLogin h2 {
            width: 100%;
            font-size: 26px;
            text-align: center;
        }
        div.formLogin label {
            display: block;
            width: 260px;
            margin: 25px auto 0;
            text-align: center;
        }
        div.formLogin label span {
            font-size: 12px;
            color: #cfcfcf;
            text-transform: uppercase;
        }
        div.formLogin input {
            display: block;
            width: 100%;
            margin-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            text-align: center;
        }
        div.formLogin .forgot-pass {
            margin-top: 15px;
            text-align: center;
            font-size: 12px;
            color: #cfcfcf;
        }
        div.formLogin .submit {
            margin-top: 40px;
            margin-bottom: 20px;
            background: #d4af7a;
            text-transform: uppercase;
        }
        div.formLogin .fb-btn {
            border: 2px solid #d3dae9;
            color: #8fa1c7;
        }
        div.formLogin .fb-btn span {
            font-weight: bold;
            color: #455a81;
        }
        div.formLogin .sign-in {
            transition-timing-function: ease-out;
        }
        div.formLogin .cont.s--signup .sign-in {
            transition-timing-function: ease-in-out;
            transition-duration: 1.2s;
            transform: translate3d(640px, 0, 0);
        }
        div.formLogin .sign-up {
            transform: translate3d(-900px, 0, 0);
        }
        div.formLogin .cont.s--signup .sign-up {
            transform: translate3d(0, 0, 0);
        }
        div.formLogin .icon-link {
            position: absolute;
            left: 5px;
            bottom: 5px;
            width: 32px;
        }
        div.formLogin .icon-link img {
            width: 100%;
            vertical-align: top;
        }
        div.formLogin .icon-link--twitter {
            left: auto;
            right: 5px;
        }

    </style>
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <!--Header-->
    <%- include('./header/productHeader')%>

    <!--Body-->
    
    <!--Notice-->
    <% if(locals.message == 'success'){ %>
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Registion Success!
        </div>
    <% } else if (locals.message == 'fail') { %>
        <div class="alert alert-danger" role="alert">
            <strong>Fail!</strong> Registion Fail! Your Accout Existed! Please register a new Accout or Login!
        </div>
    <% } else if (locals.message == 'error') { %>
        <div class="alert alert-danger" role="alert">
            <strong>Fail!</strong> Registion Fail! Enter password must have at least 6 characters with at least 1 special character, 1 uppercase letter and at least 1 number!
        </div>
    <% } %>

    <div class="formLogin">
        <form method="post" enctype="multipart/form-data" action="/login">
            <div class="cont">
                <div class="form sign-in">
                    <h2>Welcome back,</h2>
                    <label>
                        <span>Email</span>
                        <input type="email" name="emailLogin"/>
                    </label>
                    <label>
                        <span>Password</span>
                        <input type="password" name="passwordLogin" />
                    </label>
                    <p class="forgot-pass">Forgot password?</p>
                    <button type="submit" class="submit" >Sign In</button>
                    <br>
                    <a type="button" class="fb-btn" href="/login/google" style="margin-top:5px; margin-left: 35%; border-radius: 30px; width: 30%; text-align: center" >Join with <span>Google</span> </a>       
                </div>
        </form>
       
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>New here?</h2>
                    <p>Sign up and discover great amount of new opportunities!</p>
                </div>
                <div class="img__text m--in">
                    <h2>One of us?</h2>
                    <p>If you already has an account, just sign in. We've missed you!</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Time to feel like home,</h2>
                <form action="/register" enctype="multipart/form-data" method="post">
                    <label>
                        <span>Name</span>
                        <input type="text" name="nameRegister" required />
                    </label>
                    <label>
                        <span>Email</span>
                        <input type="email" name="emailRegister" required/>
                    </label>
                    <label>
                        <span>Password</span>
                        <input type="password" name="passwordRegister" required/>
                    </label>
                    <button type="submit" class="submit" >Sign Up</button>
                    <br>
                    <a type="button" class="fb-btn" href="/login/google" style="margin-top:5px; margin-left: 35%; border-radius: 30px; width: 30%; text-align: center" >Join with <span>Google</span> </a>       
                </form>                
            </div>
        </div> 
    </div>
     

    <!--Footer-->
    <%- include('./footer/productFooter') %>
<!-- Optional JavaScript -->
<script>
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <script>
            $(".js-select2").each(function(){
                $(this).select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $(this).next('.dropDownSelect2')
                });
            })
        </script>
    <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/slick/slick.min.js"></script>
        <script src="js/slick-custom.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/parallax100/parallax100.js"></script>
        <script>
            $('.parallax100').parallax100();
        </script>
    <!--===============================================================================================-->
        <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
        <script>
            $('.gallery-lb').each(function() { // the containers for all your galleries
                $(this).magnificPopup({
                    delegate: 'a', // the selector for gallery item
                    type: 'image',
                    gallery: {
                        enabled:true
                    },
                    mainClass: 'mfp-fade'
                });
            });
        </script>
    <!--===============================================================================================-->
        <script src="vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/sweetalert/sweetalert.min.js"></script>
        <script>
            $('.js-addwish-b2').on('click', function(e){
                e.preventDefault();
            });
    
            $('.js-addwish-b2').each(function(){
                var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
                $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");
    
                    $(this).addClass('js-addedwish-b2');
                    $(this).off('click');
                });
            });
    
            $('.js-addwish-detail').each(function(){
                var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();
    
                $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");
    
                    $(this).addClass('js-addedwish-detail');
                    $(this).off('click');
                });
            });
    
            /*---------------------------------------------*/
    
            $('.js-addcart-detail').each(function(){
                var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
                $(this).on('click', function(){
                    swal(nameProduct, "is added to cart !", "success");
                });
            });
        </script>
    <!--===============================================================================================-->
        <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script>
            $('.js-pscroll').each(function(){
                $(this).css('position','relative');
                $(this).css('overflow','hidden');
                var ps = new PerfectScrollbar(this, {
                    wheelSpeed: 1,
                    scrollingThreshold: 1000,
                    wheelPropagation: false,
                });
    
                $(window).on('resize', function(){
                    ps.update();
                })
            });
        </script>
    <!--===============================================================================================-->\
    <script src="js/main.js"></script>
</body>
</html>