<!DOCTYPE html>
<html lang="en" id="">
  <head>
    <title>Verify</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }

      div.formLogin *,
      *:before,
      *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      div.formLogin body {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        background: #ededed;
      }
      div.formLogin input,
      button {
        border: none;
        outline: none;
        background: none;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
      }
      div.formLogin .tip {
        font-size: 20px;
        margin: 40px auto 50px;
        text-align: center;
      }
      div.formLogin .cont {
        overflow: hidden;
        position: relative;
        width: 900px;
        height: 550px;
        margin: 0 auto 100px;
        background: #fff;
      }
      div.formLogin .form {
        position: relative;
        width: 640px;
        height: 100%;
        transition: transform 1.2s ease-in-out;
        padding: 50px 30px 0;
      }
      div.formLogin .sub-cont {
        overflow: hidden;
        position: absolute;
        left: 640px;
        top: 0;
        width: 900px;
        height: 100%;
        padding-left: 260px;
        background: #fff;
        transition: transform 1.2s ease-in-out;
      }
      div.formLogin .cont.s--signup .sub-cont {
        transform: translate3d(-640px, 0, 0);
      }
      div.formLogin button {
        display: block;
        margin: 0 auto;
        width: 260px;
        height: 36px;
        border-radius: 30px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
      }
      div.formLogin .img {
        overflow: hidden;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 260px;
        height: 100%;
        padding-top: 360px;
      }
      div.formLogin .img:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 900px;
        height: 100%;
        background-image: url("https://www.harrods.com/BWStaticContent/50000/37f9b12e-9863-4542-a642-9e97e0daf1b7_d-hero-brand-t2-loro-piana-mens.jpg");
        background-size: cover;
        transition: transform 1.2s ease-in-out;
      }
      div.formLogin .img:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
      }
      div.formLogin .cont.s--signup .img:before {
        transform: translate3d(640px, 0, 0);
      }
      div.formLogin .img__text {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        transition: transform 1.2s ease-in-out;
      }
      div.formLogin .img__text h2 {
        margin-bottom: 10px;
        font-weight: normal;
      }
      div.formLogin .img__text p {
        font-size: 14px;
        line-height: 1.5;
      }
      div.formLogin .cont.s--signup .img__text.m--up {
        transform: translateX(520px);
      }
      div.formLogin .img__text.m--in {
        transform: translateX(-520px);
      }
      div.formLogin .cont.s--signup .img__text.m--in {
        transform: translateX(0);
      }
      div.formLogin .img__btn {
        overflow: hidden;
        z-index: 2;
        position: relative;
        width: 100px;
        height: 36px;
        margin: 0 auto;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
      }
      div.formLogin .img__btn:after {
        content: "";
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 30px;
      }
      div.formLogin .img__btn span {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: transform 1.2s;
      }
      div.formLogin .img__btn span.m--in {
        transform: translateY(-72px);
      }
      div.formLogin .cont.s--signup .img__btn span.m--in {
        transform: translateY(0);
      }
      div.formLogin .cont.s--signup .img__btn span.m--up {
        transform: translateY(72px);
      }
      div.formLogin h2 {
        width: 100%;
        font-size: 26px;
        text-align: center;
      }
      div.formLogin label {
        display: block;
        width: 260px;
        margin: 25px auto 0;
        text-align: center;
      }
      div.formLogin label span {
        font-size: 12px;
        color: #cfcfcf;
        text-transform: uppercase;
      }
      div.formLogin input {
        display: block;
        width: 100%;
        margin-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        text-align: center;
      }
      div.formLogin .forgot-pass {
        margin-top: 15px;
        text-align: center;
        font-size: 12px;
        color: #cfcfcf;
      }
      div.formLogin .submit {
        margin-top: 40px;
        margin-bottom: 20px;
        background: #d4af7a;
        text-transform: uppercase;
      }
      div.formLogin .fb-btn {
        border: 2px solid #d3dae9;
        color: #8fa1c7;
      }
      div.formLogin .fb-btn span {
        font-weight: bold;
        color: #455a81;
      }
      div.formLogin .sign-in {
        transition-timing-function: ease-out;
      }
      div.formLogin .cont.s--signup .sign-in {
        transition-timing-function: ease-in-out;
        transition-duration: 1.2s;
        transform: translate3d(640px, 0, 0);
      }
      div.formLogin .sign-up {
        transform: translate3d(-900px, 0, 0);
      }
      div.formLogin .cont.s--signup .sign-up {
        transform: translate3d(0, 0, 0);
      }

      div.formLogin .icon-link {
        position: absolute;
        left: 5px;
        bottom: 5px;
        width: 32px;
      }
      div.formLogin .icon-link img {
        width: 100%;
        vertical-align: top;
      }
      div.formLogin .icon-link--twitter {
        left: auto;
        right: 5px;
      }
    </style>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/MagnificPopup/magnific-popup.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <!--Header-->
    <!-- Header -->
    <header class="header-v2">
      <!-- Header desktop -->
      <div class="container-menu-desktop trans-03">
        <div class="wrap-menu-desktop">
          <nav class="limiter-menu-desktop p-l-45">
            <!-- Logo desktop -->
            <a href="/" class="logo">
              <img src="/images/icons/logo-01.png" alt="IMG-LOGO" />
            </a>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                <li class="active-menu">
                  <a href="#">Home</a>
                  <ul class="sub-menu">
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/admin/dashboard">AdminPage</a></li>
                  </ul>
                </li>

                <li>
                  <a href="/shop">Shop</a>
                </li>

                <li class="label1" data-label1="hot">
                  <a href="shoping-cart.html">Features</a>
                </li>

                <li>
                  <a href="/about">About</a>
                </li>

                <li>
                  <a href="/contact">Contact</a>
                </li>
              </ul>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m h-full">
              <div class="flex-c-m h-full p-r-24">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search"
                >
                  <i class="zmdi zmdi-search"></i>
                </div>
              </div>

              <div class="flex-c-m h-full p-l-18 p-r-25 bor5">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
                  id="cart"
                  data-notify="3"
                  onclick="cart()"
                >
                  <i class="zmdi zmdi-shopping-cart"></i>
                </div>
              </div>

              <div class="flex-c-m h-full p-lr-19">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-sidebar"
                >
                  <i class="zmdi zmdi-menu"></i>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <!-- Modal Search -->
      <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
          <button
            class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search"
          >
            <img src="/images/icons/icon-close2.png" alt="CLOSE" />
          </button>

          <form
            class="wrap-search-header flex-w p-l-15"
            enctype="multipart/form-data"
            method="post"
            action="/products/search"
          >
            <button class="flex-c-m trans-04" type="submit">
              <i class="zmdi zmdi-search"></i>
            </button>
            <input
              class="plh3"
              type="text"
              name="keyword"
              placeholder="Search..."
            />
          </form>
        </div>
      </div>
    </header>

    <script>
      function cart() {
        let cart = localStorage.getItem("cart");
        if (cart !== null) {
          document.cookie = `cart=${cart}`;
        } else {
          document.cookie = "cart=[]";
        }
        window.location.href = "http://localhost:8000/user/cart";
      }
    </script>

    <!--Body-->

    <!--Form Login-->
    <div class="container" style="width: 100%; height: 640px">
      <!--Notice-->
      <% if(message == 'sendEmail'){ %>
      <div class="alert alert-success" role="alert" style="text-align: center">
        A Email has been sent to your register email!
      </div>
      <% } %>

      <div class="row">
        <div class="col-12" style="width: 100%; height: 100px"></div>
        <div class="col-3"></div>
        <div class="col-6 card shadow p-3 mb-5 bg-white rounded verify-mail">
          <form
            style="margin-top: 50px; text-align: center; margin-bottom: 50px"
            enctype="multipart/form-data"
            method="POST"
            action="/verify-account"
          >
            <h4 style="text-align: center">
              <strong>Verify your email</strong>
            </h4>
            <input value="<%= email %>" style="display: none" name="email" />
            <p class="notifi" style="margin-top: 30px">
              Enter the verification code in the box below
            </p>
            <p class="olock"></p>
            <div class="code-disabel">
              <input
                type="number"
                name="code"
                class="form-control"
                aria-describedby="number"
                placeholder="Enter Code"
                style="text-align: center"
                required
              />
            </div>

            <div class="btn-authen-gmail">
              <button
                type="submit"
                class="btn btn-primary btn-submit"
                style="margin-top: 20px"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    <!--Footer-->
    <%- include('./footer/productFooter') %>
    <!-- Optional JavaScript -->
    <script>
      document
        .querySelector(".img__btn")
        .addEventListener("click", function () {
          document.querySelector(".cont").classList.toggle("s--signup");
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/slick/slick.min.js"></script>
    <script src="/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/parallax100/parallax100.js"></script>
    <script>
      $(".parallax100").parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
      $(".gallery-lb").each(function () {
        // the containers for all your galleries
        $(this).magnificPopup({
          delegate: "a", // the selector for gallery item
          type: "image",
          gallery: {
            enabled: true,
          },
          mainClass: "mfp-fade",
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
      $(".js-addwish-b2").on("click", function (e) {
        e.preventDefault();
      });

      $(".js-addwish-b2").each(function () {
        var nameProduct = $(this).parent().parent().find(".js-name-b2").html();
        $(this).on("click", function () {
          swal(nameProduct, "is added to wishlist !", "success");

          $(this).addClass("js-addedwish-b2");
          $(this).off("click");
        });
      });

      $(".js-addwish-detail").each(function () {
        var nameProduct = $(this)
          .parent()
          .parent()
          .parent()
          .find(".js-name-detail")
          .html();

        $(this).on("click", function () {
          swal(nameProduct, "is added to wishlist !", "success");

          $(this).addClass("js-addedwish-detail");
          $(this).off("click");
        });
      });

      /*---------------------------------------------*/

      $(".js-addcart-detail").each(function () {
        var nameProduct = $(this)
          .parent()
          .parent()
          .parent()
          .parent()
          .find(".js-name-detail")
          .html();
        $(this).on("click", function () {
          swal(nameProduct, "is added to cart !", "success");
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
    <!--===============================================================================================-->\
    <script src="/js/main.js"></script>
    <script>
      let olock = document.querySelector(".olock");
      let codeDisabel = document.querySelector(".code-disabel");
      let btnAuthen = document.querySelector(".btn-authen-gmail");
      let contentVerify = document.querySelector(".verify-mail");
      let notifi = document.querySelector(".notifi");
      window.addEventListener("load", handleCount);
      function handleCount() {
        olock.innerHTML = 30;
        setInterval(() => {
          if (olock.innerHTML > 0) {
            olock.innerHTML = olock.innerHTML - 1;
            if (olock.innerHTML == 0) {
              notifi.innerHTML = "Verify fail";
              codeDisabel.style.display = "none";
              olock.style.display = "None";
              btnAuthen.style.display = "none";
              let btnBack = document.createElement("a");
              btnBack.href = "/login";
              btnBack.innerHTML = `<button
                type="submit"
                class="btn btn-danger btn-submit"
                style="margin-top: 20px"
              >
                Back
              </button>
              `;
              btnBack.style.textAlign = "center";
              contentVerify.append(btnBack);
            }
          }
        }, 1000);
      }
    </script>
  </body>
</html>
